# Porta da aplicação
PORT=9823

# Caminho dos cursos no host
COURSES_PATH=/DATA/Cursos
COURSES_INTERNAL_PATH=/cursos

# Segurança da aplicação
SECRET_KEY=troque-por-uma-chave-forte
ADMIN_DEFAULT_NAME=Admin
ADMIN_DEFAULT_PASSWORD=troque-por-uma-senha-forte
SESSION_COOKIE_SECURE=false

# Banco PostgreSQL
POSTGRES_DB=platform_course
POSTGRES_USER=platform_course
POSTGRES_PASSWORD=troque-por-uma-senha-forte
DATABASE_URL=postgresql+psycopg://platform_course:troque-por-uma-senha-forte@postgres:5432/platform_course

# pgAdmin
PGADMIN_PORT=8080
PGADMIN_DEFAULT_EMAIL=admin@plataforma.local
PGADMIN_DEFAULT_PASSWORD=troque-por-uma-senha-forte

# App
FLASK_ENV=production
